doctype html
html
  head
    meta(charset='UTF-8')
    title weibo
    link(rel='stylesheet', href='css/common.css')
  body
    .header
      .header_content
        .logo
          a(href='#')
        .search
          input.search_input(type='text', placeholder='大家正在搜：你好')
          input.search_btn(type='button')
        ul.header_nav
          li
            a(href='#') 首页
          li
            a(href='#') 首页
          li
            a(href='#') 首页
          li
            a(href='#') 首页
          li
            a(href='#') 首页
    .main
      .left_area
        ul.left_area_nav
          li
            a.strong_text(href='#') 首页
          li
            a.strong_text(href='#') 我的收藏
          li
            a.strong_text(href='#') 我的赞
          li
            a.nav_line
          li
            a(href='#') 好友圈
          li
            a(href='#') 特别关注
        .left_area_content
          .release_box
            .release_box_content
              .top
                .top_img
                  a(href='#')
                .top_link
                  a(href='#') 央视女主持23年容颜不老，来晒晒你身边的#冻龄女神
              .center
                textarea
              .bottom
                ul.bottom_left
                  li
                    a(href='#') 表情
                  li
                    a(href='#') 表情
                  li
                    a(href='#') 表情
                  li
                    a(href='#') 表情
                  li
                    a(href='#') 表情
                  li
                    a(href='#')
                .bottom_right
                  .state
                    a(href='#') 公开
                  .submit
                    input.submit_btn(type='button', value='发布')
          .message_nav
            ul.left
              li
                a(href='#') 全部
              li
                a(href='') 原创
              li
                a(href='') 图片
              li
                a(href='') 视频
              li
                a(href='') 音乐
              li
                a(href='') 文章
            .right
              input.right_search(type='text')
              input.right_btn(type='button')
              input.right_more(type='button')
          .message_list
            .message_item
              .message_main
                .message_content
                  .left_photo
                    img(src='image/content_photo.jpg', alt='')
                  .right_text
                    .ms_user
                      a(href='#') 人民網
                    .ms_from
                      a(href='#') 37分钟前
                      | 來自
                      a(href='#') 人民网微博
                    .ms_text
                      span #温暖中国#【90后女孩点奶茶送给“交警小姐姐”：天气冷暖暖吧！】3月4日，沈阳的女交警们收到一份礼物——四杯热奶茶。点奶茶的人是无名人士，外卖单上的备注是：麻烦外卖小哥直接送给交警小姐姐们，送到回个短信就好，交警小姐姐们执勤辛苦了，天气冷，暖暖吧。
                    .ms_picture
                      img(src='image/ms_picture.jpg', alt='')
              ul.message_btn
                li
                  a(href='#') 收藏
                li
                  a(href='#') 收藏
                li
                  a(href='#') 收藏
                li
                  a(href='#') 收藏
            .message_item
              .message_main
                .message_content
                  .left_photo
                    img(src='image/content_photo.jpg', alt='')
                  .right_text
                    .ms_user
                      a(href='#') 人民網
                    .ms_from
                      a(href='#') 37分钟前
                      | 來自
                      a(href='#') 人民网微博
                    .ms_text
                      span #温暖中国#【90后女孩点奶茶送给“交警小姐姐”：天气冷暖暖吧！】3月4日，沈阳的女交警们收到一份礼物——四杯热奶茶。点奶茶的人是无名人士，外卖单上的备注是：麻烦外卖小哥直接送给交警小姐姐们，送到回个短信就好，交警小姐姐们执勤辛苦了，天气冷，暖暖吧。
                    .ms_picture
                      img(src='image/ms_picture.jpg', alt='')
              ul.message_btn
                li
                  a(href='#') 收藏
                li
                  a(href='#') 收藏
                li
                  a(href='#') 收藏
                li
                  a(href='#') 收藏
      .right_area
        .user_info
          .user_info_1
            img(src='image/user_photo.jpg', alt='')
          .user_info_2
            .user_name
              a(href='#') 人见人爱的Jeff
            ul.user_atten
              li
                a(href='#')
                  span.atten_number 11
                  span.atten_title 关注
              li
                a(href='#')
                  span.atten_number 6
                  span.atten_title 粉丝
              li
                a(href='#')
                  span.atten_number 112
                  span.atten_title 微博
