extends ../../layout

block content
	.row.justify-content-end
		a.btn.btn-outline-info.btn-sm.add(href='/category/new') 新增
	br
	table.table.table-hover.table-bordered.table-sm
		thead
			tr
				th 标签名
				th 录入时间
				th 更新
				th 删除
		tbody
			each item in categories
				tr(class="item-id-"+item._id)
					td #{item.name}
					td #{moment(item.meta.createAt).format('MM/DD/YYYY')}
					td: a(href="/category/modify/"+item._id) 修改
					td: a.del(href="#", data-id=item._id, data-toggle="modal", data-target="#delModal") 删除
	.modal#delModal(tabindex='-1', role='dialog', aria-labelledby='delModal', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					h5.modal-title#exampleModalLabel 提示
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body 确定删除？
				.modal-footer
					button.btn.btn-secondary(type='button', data-dismiss='modal') 取消
					button#delSubmit.btn.btn-danger(type='button') 删除
	script(src="/js/category/index.js")